@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
* {
  box-sizing: border-box;
}
header.page-header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 715px;
    background: url(img/bg_top.png)no-repeat center;
}
.logo {
    padding-top: 36px;
    display: flex;
}
.logo span {
    font-size: 16px;
}
nav.top_menu ul {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    list-style: none;
}
nav.top_menu ul li a {
    color: #533738;
    text-decoration: none;
    font-size: 16px;
    padding-left: 15px;
}
img.img_top {
    width: 25px;
    height: 25px;
}
